{% extends 'base.html' %}

{% block meta %}

{% endblock meta %}

{% block content %} 
{% load static %}
<!-- Navbar -->
<nav class="navbar bg-custom-navbar">
    <div class="container">
      <a class="navbar-brand mb-0 h1" href="#" style="color:white"> 
        To Do List Page 
    </a>
      </div>
</nav>

<!-- header page -->
<h1>Create your To Do List <i class="material-symbols-outlined" style="font-size:60px;color:black;text-shadow:2px 2px 4px #000000;">edit_note</i></h1>
<form action = "" method="POST">
    {% csrf_token %}
    <div class="mx-auto card align-items-center text-white bg-custom-navbar mb-3 w-50 " >
        <div class="card-body">
            <table>
                <tr>
                    
                    <td>Title: </td>
                    <td><input type="text" name="title" placeholder="title" class="form-control"></td>
                </tr>
                        
                <tr>
                    <td>Description: </td>
                    <td><textarea name="description" placeholder="description" class="form-control"></textarea></td>
                </tr>
    
                <tr>
                    <td></td>
                    <td><input class="btn btn-light" type="submit" value="Submit" ></td>
                </tr>
            </table>
        </div>
    </div>

</form>
{% endblock content %}