{% extends 'base.html' %}
{% block meta %}

{% endblock meta %}

{% block content %}  
    <!-- import icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- Navbar -->
    <nav class="navbar bg-custom-navbar">
        <div class="container">
        <a class="navbar-brand mb-0 h1" href="#" style="color:white"> 
            To Do List Page
        </a>
        <a class="btn btn-primary" style="background-color: #13547a;" href="{% url 'todolist:logout' %}" role="button">Logout</a>
        </div>
    </nav>

    <title>To-Do List</title>
    <head>
        {% load static %}
    </head>
    
        
    <div class="container">
        <h1>{{user.username}}'s todolist</h1>
        <div class="row row-cols-3 g-4 m-auto">
            {% for task in task_list %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{task.title}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{task.date}}</h6>
                      <p class="card-text"> {{task.description}}</p>
                      
                            
                        {% if task.is_finished %}
                        Status : Selesai
                        {% else %}
                        Status : Belum Selesai
                        {% endif %}
                    <div class="card-footer"></div>
                      <button><a href="{% url 'todolist:change' task.id %}"><i class="material-symbols-outlined" style="font-size:30px;color:green;">sync</i></a></button>
                      <button><a href="{% url 'todolist:delete' task.id %}"><i class="material-symbols-outlined" style="font-size:30px;color:red;">delete</i></a></button>
                      <button><a href="{% url 'todolist:edit' task.id %}"><i class="material-symbols-outlined" style="font-size:30px;color:blue;">edit</i></a></button>
                  
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
      
        <a class="btn btn-primary" style="background-color: #13547a;" href="{% url 'todolist:create_task' %}">Add To Do</a>
    </div>
      
    
{% endblock content %}