{% extends 'base.html' %}

 {% block content %}

  <h1>My Watchlist</h1>

  <h5>Name: </h5>
  <p>{{name}}</p>

  <h5>Student ID: </h5>
  <p>{{student_id}}</p>

  <h5>Pesan: </h5>
  <p>{{message}}</p>

  <table>
    <tr>
      <th>Title</th>
      <th>Watched</th>
      <th>Release Date</th>
      <th>Rating</th>
      <th>Review</th>
    </tr>
    {% for movie in list_movie %}
    <tr>
        <th>{{movie.title}}</th>
        <th>{{movie.watched}}</th>
        <th>{{movie.release_date}}</th>
        <th>{{movie.rating}}</th>
        <th>{{movie.review}}</th>
    </tr>
    {% endfor %}
  </table>

 {% endblock content %}
